.main-app {
  background-color: var(--background-color);
}

h1 {
  color: var(--theme-color);
  text-align: center;
  padding: 20px;
}

p {
  color: var(--theme-color);
}

.input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.top {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.bottom {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.input {
  border: none;
  outline: none;
  border-radius: 5px;
  min-width: 200px;
  background-color: var(--theme-color);
  color: var(--background-color);
}

.drop-down {
  min-width: 200px;
  background-color: var(--theme-color);
  color: var(--background-color);
  text-align: center;
  border: none;
  outline: none;
  border-radius: 5px;
}

.input-name {
  color: var(--theme-color);
  padding: none;
  font-size: 24px;
}

.add-ingredient {
  background-color: var(--theme-color);
  color: var(--background-color);
  border: none;
  outline: none;
  border-radius: 5px;
}

.display-ingredients {
  background-color: var(--theme-color);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.ingredient {
  background-color: var(--theme-color);
  border: none;
  outline: none;
  color: var(--background-color);
}

.ingredient:hover {
  background-color: #cc7711;
}

.display-items {
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.selected-ingredient {
  background-color: var(--theme-color);
  outline: none;
  border: none;
  color: var(--background-color);
}

.selected-ingredient:hover {
  background-color: #cc7711;
}

.submit {
  outline: 1px solid var(--theme-color);
  border: none;
  margin: 10px;
  border-radius: 2px;
  background-color: var(--theme-color);
  color: var(--background-color);
}

.submit:hover {
  background-color: #bb6611;
}

@media only screen and (max-width: 768px) {
  #ingredients-input {
    display: flex;
    flex-direction: column;
  }
}
